/* 
colour pallet
#2b2d42
#8d99ae
#edf2f4
#ef233c
#d90429
*/

/* Fonts */
@font-face {
    font-family: Lato-Regular;
    src: url("\\fonts\\Lato-Regular.ttf");
}

/* General */ 
body {
    background-color: #8d99ae;
}

p, span{
    font-family: Lato-Regular;
    font-size: 18px;
}

a {
    color:black;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 5rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    background-color: #ef233c;
    z-index: 100;

}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    display: table;
    table-layout: fixed;
    align-items: center;
    height: 8rem;
    width: 25%;
    text-decoration: none;

}

.navIcon {
    padding-top: 3px;
    font-size: 42px;
    min-width: 1em;
    color: #2b2d42;
    transition: color 200ms;
}

.navText {
    width: 40%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2b2d42;    
}

.linkText {
    font-size: 20px;
}

.navbar:hover .navIcon {
    font-size: 42px;
}

.navText:hover {
    height: 5rem;
    background-color: #d90429;
}

.navText:hover .linkText, .navText:hover .navIcon{
    color: #edf2f4;
}


/* Homepage */

#gameCanvas {
    visibility: hidden;
    transform: translate(+25%,-5%);
    border: 10px solid black;
    display: block;
    margin-left: 175px;
    margin-top: 50px;
}

#start-btn {
    font-family: Lato-Regular;
    background-color: #2b2d42;
    border: 0;
    padding: 10px;
    color: #edf2f4;
    font-size: 50px;
    display: block;
    margin: auto;
    transform: translate(0, +500%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Login */
#loginInput {
    background-color: #2b2d42;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;    
  }

 /* Login Flexbox Elements */
#loginFlexBox {
    display: flex;
    flex-direction: column;
}

#loginFlexBox p {
    font-size: 18px;
    text-align: center;
}

.loginP {
    color: #edf2f4;
}

.loginA {
    font-weight: bold;
    color: #edf2f4;
}

#loginFlexBox input {
    font-size: 20px;
}

#login-btn {
    padding: 5px;
    font-size: 18px;
    margin-top: 20px;
    width: 50%;
    transform: translate(+50%);
}

#loginMessage {
    font-weight: bold;
    color: #ef233c;
    text-align: center;
    width: 450px;
}

/* Create an account */

#createAccountInput {
  background-color: #2b2d42;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;    
}

 /* Create Account Flexbox Elements */
#createAccountFlexBox {
    display: flex;
    flex-direction: column;
}

#createAccountFlexBox p {
    font-size: 18px;;
    text-align: center;
}

.accountP {
    color: #edf2f4;
}

.accountA {
    font-weight: bold;
    color: #edf2f4;
}


#createAccountFlexBox input {
    font-size: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.inputBox {
    border: solid 5px rgba(88, 88, 88, 0.486);

}

#accountNumber {
    margin-bottom: 20px;
}

#accountInput-btn {
    padding: 5px;
    font-size: 18px;
    margin-top: 20px;
    width: 50%;
    transform: translate(+50%);
}

#welcomeMessage {
    color: #ef233c;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
    width: 450px;
}

/* Icons */
.fa-circle-info{
    transform: translate(-12%, 50%);
    font-size: 28px;
    color: #edf2f4;
}

.fa-solid .helpToolTip {
    visibility: hidden;
    background-color: rgb(53, 53, 53);
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 100;
    width: 250px;
    position: absolute;
    z-index: 1;
    transform: translate(-115%, -30%);
}

.fa-solid:hover .helpToolTip{
    visibility: visible;
}

/* Leaderboards */

/* Manage Account */
