/* Fonts */
@font-face {
    font-family: Lato-Regular;
    src: url("\\fonts\\Lato-Regular.ttf");
}

/* General */
p {
    font-family: Lato-Regular;
    font-size: 18px;
}

a {
    color:black;
}
 /* Navbar General  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(168, 72, 72);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar a{
    color: white;
    border: 1px solid   rgb(80, 19, 19);
    float: left;
    padding: 12px;
    font-family: Lato-Regular;
    font-size: 24px;
    font-weight: bold;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(80, 19, 19);
}

.navbar a:visited {
    text-decoration: none;
}

/* Homepage */
canvas {
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 100px;
}

/* Login */
#loginInput {
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;    
  }

 /* Login Flexbox Elements */
#loginFlexBox {
    display: flex;
    flex-direction: column;
}

#loginFlexBox p {
    font-size: 24px;
    text-align: center;
}

#loginFlexBox input {
    font-size: 24px;
}

#login-btn {
    padding: 5px;
    font-size: 18px;
    margin-top: 20px;
    width: 50%;
    transform: translate(+50%);
}

#loginMessage {
    color: red;
}

/* Create an account */
#createAccountInput {
  border: 2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 75px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;    
}

 /* Create Account Flexbox Elements */
#createAccountFlexBox {
    display: flex;
    flex-direction: column;
}

#createAccountFlexBox p {
    font-size: 20px;
    text-align: center;
}

#createAccountFlexBox input {
    font-size: 20px;
}

#accountNumber {
    margin-bottom: 20px;
}

#accountInput-btn {
    padding: 5px;
    font-size: 18px;
    margin-top: 20px;
    width: 50%;
    transform: translate(+50%);
}

#welcomeMessage {
    color: red;
}

/* Leaderboards */

/* Manage Account */