@font-face {
    font-family: Lato-Regular;
    src: url("\\fonts\\Lato-Regular.ttf");
}


p {
    font-family: Lato-Regular;
    font-size: 18px;
}

canvas {
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(201, 201, 201);
    overflow: hidden;
}

a {
    color:black;
}

.navbar a{
    float: left;
    padding: 12px;
    font-family: Lato-Regular;
    font-size: 24px;
    font-weight: bold;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(104, 104, 104);
}

.navbar a:visited {
    text-decoration: none;
}